* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: white;
    font-family: Roboto, Arial, sans-serif;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
  }
  
  form {
    margin: 100px ;
    background-color: white;
    padding: 50px 300px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 17px;
    color: #2f96da;
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #2f96da;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #2f96da;
  }
  
  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #2f96da;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 10px;
    font-size: 17px;
  }